@font-face{
    font-family: Vazir;
    src: url(../font/Vazir/Vazir-FD.eot);
    src: url(../font/Vazir/Vazir-FD.eot?#iefix) format('FontName-opentype'),
    url(../font/Vazir/Vazir-FD.woff) format('woff'),
    url(../font/Vazir/Vazir-FD.ttf)  format('truetype') ;
}
*{
    font-family: Vazir;
    margin: 0;
    padding:0;
}
body{
    direction: rtl;
    overflow-x: hidden;
}
.navbar ul,.navbar li {
    display: inline;
}
.navbar{
   width: 100%;
    background-color:#fff;
    height: 60px;
    border-bottom:2px  #f3f0f0 solid;
 }
 .navbar img{
     margin-bottom: 10px;
     
 }

.navbar ul li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  
}
.middle-bar a{
    padding: 5px 20px;
    color: #757575;
}
.navbar .middle-bar a:hover{
    background-color: #FAFAFA;
    border: 2px #4CAF50 solid;
    border-radius: 7px;
    color: #4CAF50;
}
.sid-button {
margin-left: -100px;
}
.log-in a {
    border: 2px #4CAF50 solid;
    border-radius: 5px;
    color: #4CAF50;
    padding: 5px 40px;
}
.log-in a:hover{
    background-color: #4CAF50;
    color:#fff;
}
.register a{
    border: 1px #4CAF50 solid;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    padding: 6px 20px;
}
.header{
    background-image:url('../image/header-background.png');
    height:300px;
    background-size: cover;
    padding: 90px 0;
    text-align: center;
    border-bottom:2px #12072c solid;
}
.header h1{
    font-weight:bold;
    font-size: 30px;
    color: #c7f0c9;
    
}
.header p{
    font-weight: bold;
    font-size: 20px;
    color: #4CAF50;
}
.header .search-product input{
    outline: none;
    padding: 10px 40px;
    border:2px #fafafa solid;
    border-radius: 4px;
    width:400px;

}
.header .search-product button{
border: none;
    padding: 7px 14px;
    border-radius: 4px;
    background-color: #311B92;
    color: #fff;

}
.header .search-product button:hover{
cursor: pointer;
border: #311B92;
}

.market-view{
    height: 900px;
    background-color: #e2e2e2;
    padding: 40px 0;
    text-align: center;


}
.market-view h2{
    font-size: 20px;
    color: #0f0052;
}
.market-view img{
    transition: all .3s;
}
.market-view img:hover{
    margin-top:10px;
}
.market-view button{
    margin-top: -12px;
margin-right: 900px;
}
.product-1,.product-2,.product-3{
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    background-color: #ECEFF1;
    border-radius: 5px;
    text-align: center;
    width: 1000px;
    border-bottom: 2px #4CAF50 solid;
}

.product-1 span,.product-2 span,.product-3 span{
    font-size: 20px;
    border-bottom: 2px #971010 solid;
}
.product-1 img,.product-2 img,.product-3 img{
    margin: 20px;
    border-radius: 5px;
}
.last-price{
    background-color: #fbfdfd;
    padding: 40px 0;
}
.last-price h3 ,.tariff p{
    text-align: center;
}
.last-price table{
    width: 100%;
    border: 1px  #687e83 solid;
    margin-bottom: 80px;
}

.last-price table th,.last-price table td{
    border: 1px  #687e83 solid;
}
.last-price table th{
    padding: 20px;
    background-color: #687e83;
    color: #fff;
    text-align: center;
}
.last-price table td{
    padding: 10px;
    text-align: center;
}
.last-price table tr:hover{
    background-color: #23d7ff;
}
.services{
    background-color: #d4d4d4;
     height: 350px;
     padding: 90px 0;
     text-align: center;
     border-bottom:2px #c9c9c9 solid;
}
.services h2{
    margin-top:-60px;
    margin-bottom: 20px;
}
.services h3{
    font-size: 20px;
}
.services p{
    font-size: 14px;
    text-align: center;

}
.service-box{
    background-color:#fff ;
    padding: 8px;
    border-radius: 4px;
    transition: all 0.2s;
}
.service-box:hover,.market-explain:hover{
    cursor: pointer;
    margin-top: -10px;
    background-color: #cab9b9;
}
.market-explain{
    background-color:#fff ;
    padding: 35px;
    border-radius: 4px;
    transition: all 0.2s;  
}
.market-explain img{
    margin-bottom: 10px;
}
.justify{
    text-align: justify;
}
.contact-us{
    background-color: #ececec ;
    padding: 90px 0;
}
.contact-us h3,.contact-us p{
    text-align: center;
}
.malert{
    margin-top: 10px;
    display: none;
}
.top-footer{
    background-color:  #12072c;
    color: #fff;
    padding: 60px 0;
    border-bottom: 4px #000235 solid;
}
li {
    list-style-type: none; 
 }
.top-footer ul a{
    text-decoration: none;
    color: #fff;
    margin: 10px;
}
.middle-footer{
    background-color: #12072c;
    color: #fff;
    padding: 60px 30px;
    text-align: justify;
}
.bottom-footer{
    background-color: #000235;
    text-align: center;
    padding: 30px 0;
    width: 100%;
}
.bottom-footer h2{
    font-size: 16px;
    color: #fff;

}
.bottom-footer a{
    margin:10px;
}